body {
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.signin-box, .signup-box {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.signin-box h2, .signup-box h2 {
    margin-bottom: 20px;
    color: #333;
}
.signin-box input, .signup-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signin-box .forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #1E90FF;
    text-decoration: none;
}
.signin-box button, .signup-box button {
    width: 100%;
    padding: 10px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signin-box button:hover, .signup-box button:hover {
    background-color: #1C86EE;
}
.signin-box p, .signup-box p {
    margin-top: 20px;
    color: #666;
}
.signin-box p a, .signup-box p a {
    color: #1E90FF;
    text-decoration: none;
}
footer {
    background-color: #2D2D2D;
    padding: 10px 0;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #444;
}
.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}
.footer-content nav a:hover {
    color: #1E90FF;
}
.footer-content .get-started {
    background-color: #8A2BE2;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.footer-content .get-started:hover {
    background-color: #7A1BBB;
}